:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
.Card {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 50px;
    height:100px;
}
body{
  line-height: 3;
  background: #0c0c0c;
  font-size: 1.5rem;
}
element {
  height: 315px;
  margin-bottom: 8.5px;
  padding: 0px;
  background: #0c0c0c;
}
/* .btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
} */
.cardBoody{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fc2a3c;
  padding: 3px;
  /* background: #776767; */
  /* height: 428px; */
}
.cardImg{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
  /* height: 428px; */
}
.cardText{
  position: relative;
  padding:0px;
  margin: 0px;
  color: #fc2a3c;
  font-size: 1.5rm;
  font-weight: bold;
  background: #0c0c0c;
  text-align: center;
  padding: 4px;

  /* margin-left: 10px; */
  /* background-color: #0a0a0a; */
  /* top:50; */
}
.a{
   font-size: 100%;
    text-decoration: none;
  text-decoration-color: none;
}
.cardGrid{
  display: grid;
  grid-template-columns: repeat(6,auto);
}