@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.my-curosel{
  margin-bottom: 45rem;
  font-family:'Rubik', sans-serif;
}
.my-curosel h3{
  color: rgb(199, 23, 23);
  font-family:'Rubik', sans-serif;
  font-size: 50px;
  font-weight: bolder;
}
