@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.main-footer{
  text-align: center;
  font-size: 15px;
  margin-top: 10rem;
  line-height: 40px;
  background-color:#444444 ;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font-weight: lighter;
  font-family:'Rubik', sans-serif;
  
}

.container2{
 margin-left: 19%;
}

.container2 .col{
  text-align: left;
}
.row-term{
  text-align: center;
}
.row-term:hover{
  color: red;
  }

.list-unstyled li:hover{
color: red;
cursor: pointer;
}

.col h4:hover{
  color: red;
  cursor: pointer;
  }