
.homeNavbar{
    background-color: #c42e2e;
    height: 70px;
    bottom: 80px;
    position:relative;
    padding-left: 37%;
    
}
.me-auto-to{
    color: white;
    font-size:larger;
    text-align: center;
    padding-left: 50px;
    padding-right:  50px;
}
.me-auto-to:hover{
    background-color: rgb(0, 0, 0);
    color:#c42e2e ;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
    padding-top: 1px;
    font-size: 30px;
}
.Nav.Lik{

}