
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.homeNavbar{
    background-color: #c42e2e;
    height: 70px;
    position:relative;
    padding-left: 35%;
    
}
.me-auto-to{
    color: white;
    font-size:25px;
    text-align: center;
    padding-left: 50px;
    padding-right:  50px;
    font-family:'Rubik', sans-serif;
    
}
.me-auto-to:hover{
    color:#c42e2e ;
    transition: 0.5s;
    font-size: 30px;
    padding-top: 0.5rem;
    /* background-color: black; */
    font-family:'Rubik', sans-serif;
}

