:root{
    --primary:#c7a9ca;

}

.btn {
    margin-left: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #7e0b525d;
    color: white;
    transition:250ms;
}
.btn--primary{
    background-color: var(--primary);

}
.btn--outline{
    background-color: transparent;
    color:violet;
    padding: 8px 20px;
    border-radius: 4px;
    border:1px solid var(--primary);
    transition: all 0.3s ease-out;

}
.btn--medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color:violet;
}

.btn--large{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color:violet;
}