
.NavbarItems{
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 59rem;
    background-color: black;
    z-index: 10;
}

.navbar-logo {
color: black;
justify-self: start;
margin-left: 20px;
cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:end ;
    margin-right: 0;

}
.nav-links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}
.nav-links:hover {
    transition: all 0.3s ease-out;
    background: #da0000;
    color: #000000;
    transition:250ms;
    border-radius: 4px;
    

}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
}