
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.NavbarItems{
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: 444444;
    z-index: 10;
    background-color:#000000 ;
    padding: -10px;
    margin: 0;
}

.navbar-logo {
color: black;
justify-self: start;
margin-left: 20px;
cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:end ;
    margin-right: 0;
    padding-top: 1rem;

}
.nav-links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.7rem 1rem ;
    font-family:'Rubik', sans-serif;
}

.nav-links:hover {
    transition: all 0.3s ease-out;
    background: #c42e2e;
    color: #000000;
    transition:250ms;
    border-radius: 4px;
    

}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display: none;
}