.searchContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.searchForm{
    width: 80%;
    display: inline-block;
}

.searchButton {
    background-color: #444444;
    border-radius: 4px;
    border:1px solid rgb(255, 0, 0);
    transition: all 0.3s ease-out;
    outline: none;
    cursor: pointer;
    
}

.searchButton:hover {
    transition: all 0.3s ease-out;
    border:1px solid black;
    color: white;
    transition:250ms;
    
}
